<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.servelt.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IOutil</servlet-name>
    <servlet-class>com.util.IOutil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadByNum</servlet-name>
    <servlet-class>com.servlet.ReadByNum</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/servlet/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IOutil</servlet-name>
    <url-pattern>/servlet/IOutil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/doUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadByNum</servlet-name>
    <url-pattern>/servlet/doReadByNum</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
